@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
/* rgb(212,129,102)
    rgb(55,58,54)
*/
:root {
    --primary: #4F2361;


    --secondary:#7F5281;
    --primary-light:#583666b7;
    --primary-dark:#3b1849;
    --pure: #ffffff;
    --smoke: whitesmoke;
    --dark-gray: #999;
    --btn-primary: #421C52;
    --btn-secondary: #723C78;
    --btn:linear-gradient(45deg,#704872,#3d1a64);



    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}




body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1152px;
    max-width: 90%;
    margin: 0 auto;
    z-index: 22;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    align-items: center;
}

.brand svg {
    height: 30px;
    margin-right: 10px;
}

.brand svg path {
    fill: var(--pure);
}

.nav-wrapper ul.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-wrapper ul.nav-list li {
    margin-left: 30px;
    padding: 20px 0;
    position: relative;
}

.nav-wrapper ul.nav-list li a {
    color: var(--btn-primary);
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
}

.nav-wrapper ul.nav-list li a:hover, .nav-wrapper ul.nav-list li.active a {
    color: var(--grayishBlue);
}

.btn {
  background:linear-gradient(45deg,#704872,#3d1a64);
  color: white;
    outline: none;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    border: 1px solid transparent;
    transition: all .5s ease-in-out;
}

.btn:hover {
  background:linear-gradient(45deg,#3d1a64,#704872);
}


nav ul.dropdown-list {
    list-style-type: none;
    display: block;
    background: var(--primary-light);
    padding: 6px 16px;
    position: absolute;
    width: max-content;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
}

.nav-wrapper ul.dropdown-list li {
    margin-left: 0;
    padding: 5px 0;
}

.nav-wrapper ul.dropdown-list  li a {
    color: wheat;
} 

.nav-wrapper ul.nav-list li:hover .dropdown-list {
    opacity: 1;
    pointer-events: auto;
    animation: moveUp .5s ease-in-out forwards;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(20px); 
    }
}

.hamburger {
    display: none;
}

.mobile .hamburger {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    cursor: pointer;
    z-index: 9999;
}

.mobile .hamburger span {
    background: var(--primary);
    width: 28px;
    height: 2px;
    margin-bottom: 8px;
}

.mobile ul.nav-list {
    background: -webkit-linear-gradient(45deg, #e6e6e6, #b3b3b3);
    background: linear-gradient(45deg, #ffffff, #b3b3b3);
    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 22;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
}

.hamburger, .brand {
    z-index: 9999;
}

.mobile ul.nav-list.open {
    opacity: 1;
    pointer-events: auto;  
}

.mobile .hamburger span {
    transform-origin: left;
    transition: all .3s ease-in-out;
}

.mobile ul.nav-list li a {
    font-size: 20px;
}

.mobile ul.dropdown-list {
    position: relative;
    background: transparent;
    text-align: center;
    height: 0;
    overflow-y: hidden;
    transition: 1s ease-in-out;
    padding-top: 0;
}

.mobile .nav-wrapper ul li:hover .dropdown-list {
    height: max-content;
    padding-top: 6px;
}

.mobile ul.nav-list li {
    margin-left: 0;
    text-align: center;
}

.mobile .nav-wrapper ul.dropdown-list li a {
    color: var(--dark-gray);
}



/* ------------------------------------------ */
.hero{
    /* background-image:linear-gradient(rgba(55,58,54,0.5),rgba(55,58,54,35.7)); */
    min-height: calc(100vh - 100px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;    
    z-index: 2;
}

.hero__text-block{
    width: 90%;
    margin: 0 auto;
}

.hero__text-block .house-emoji{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.hero__text-block h1{
    font-size: 2rem;
    line-height: 1.9rem;
    margin-bottom: 2rem;
    font-weight: 400;
}


.hero__image-block{
    display: none;
}
/* Media queries */
@media(min-width:800px){
    
    .hero__text-block h1{
        width: 60%;
    }
    
}

@media(min-width:992px){
    
    .hero{
        background: var(--dark);
        min-height: auto;
        height: 90vh;
        
    }
    .hero__text-block{
        width: 40%;
        margin-left: 5%;

    }
    
    .hero__image-block{
        display: block;
        width: 55%;
        height: 100%;
        margin-left: 4rem;
    }
    .hero__image-block img{
        height: 100%;
        width: 100%;
    }
    .hero__text-block h1{
        color: var(--primary);
        font-weight: 400;
        width: 100%;
    }
    

    
}
@media(min-width:1192px){
    
    html{
        font-size: 20px;
    }
    
}
@media(min-width:1192px){
    
  .main_div{
    width: 90%;
  }
}



.main_div{
    width: 90%;
    box-shadow: inset 5px 5px 5px rgba(79, 35, 97, 0.267),
    inset -5px -5px 15px rgba(255, 255, 255, 0.26),
    5px 5px 15px rgba(79, 35, 97, 0.37), -5px -5px 15px rgba(255, 255, 255, 0.1);
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
  }
  .main_div .title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }
  .main_div .social_icons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .social_icons a{
    display: block;
    height: 45px;
    width: 100%;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s linear;
  }
  .social_icons a span{
    margin-left: 5px;
    font-size: 18px;
  }
  .social_icons a:first-child{
    margin-right: 5px;
    background: #4267B2;
  }
  .social_icons a:first-child:hover{
    background: #375695;
  }
  .social_icons a:last-child{
    margin-left: 5px;
    background: #1DA1F2;
  }
  .social_icons a:last-child:hover{
    background: #0d8bd9;
  }
  form {
    margin-top: 25px;
  }
  form .input_box{
    height: 50px;
    width: 100%;
    position: relative;
    margin-top: 15px;
  }
  .input_box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 45px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .input_box input:focus{
    border-color: var(--primary-dark);
  }
  .input_box .icon{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: grey;
  }
  form .option_div{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }
  .option_div .check_box{
    display: flex;
    align-items: center;
  }
  .option_div span{
    margin-left: 5px;
    font-size: 16px;
    color: #333;
  }
  .option_div .forget_div a{
    font-size: 16px;
    color: black;
  }
  .button input{
    padding-left: 0;
    background:linear-gradient(45deg,#704872,#3d1a64);
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
  }
  .button input:hover{
    background:linear-gradient(45deg,#3d1a64,#704872);
  }
  form .sign_up{
    text-align: center;
    margin-top: 25px;
  }
  .sign_up a{
    color: var(--primary-dark);
  }
  form a{
    text-decoration: none;
  }
  form a:hover{
    text-decoration: underline;
  }

/* ------------------------------------------------- */
.boxheading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    font-weight: var(--weight3);
    color: var(--primary);
}

#box2{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 95vh;
  background: var(--dark);
}

body .container_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

body .container_card .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

body .container_card .card:nth-child(1) .box .content a {
  background: var(--primary-light);
}



body .container_card .card:nth-child(2) .box .content a {
  background: var(--primary);
}

body .container_card .card:nth-child(3) .box .content a {
  background: var(--primary-dark);
}

body .container_card .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: var(--pure);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .container_card .card .box:hover {
  transform: translateY(-50px);
}

body .container_card .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .container_card .card .box .content {
  padding: 20px;
  text-align: center;
}

body .container_card .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

body .container_card .card .box .content h3 {
  font-size: 1.8rem;
  color: var(--btn-primary);
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container_card .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--btn-secondary);
  z-index: 1;
  transition: 0.5s;
}

body .container_card .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .container_card .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: var(--btn-primary);
  color: var(--pure);
}


/* --------------------- */


.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: var(--primary-dark); 
}

.header__container3 h1 {
  font-weight: var(--weight3);
  color: var(--primary);

}

@media (max-width: 400px) {
  h1 {
      font-size: 1.5rem;
  }
}

.header__container3 {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 50px;
  margin-top: 100px;
}




.box__container3 p {
  color: var(--primary);
}

.box__container3 {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--primary);
  padding: 30px;
  margin: 20px;  
}

.box__container3 img {
  float: right;
}

@media (max-width: 450px) {
  .box__container3 {
      height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box__container3  {
      text-align: center;
      height: 180px;
  }
}

.box__container3 .cyan {
  border-top: 3px solid var(--cyan);
}
.box__container3 .red {
  border-top: 3px solid var(--red);
}
.box__container3 .blue {
  border-top: 3px solid var(--blue);
}
.box__container3 .orange {
  border-top: 3px solid var(--orange);
}

.box__container3 h2 {
  color: var(--primary-dark);
  font-weight: var(--weight3);
}


@media (min-width: 950px) {
  .row1-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .row2-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .box-down {
      position: relative;
      top: 150px;
  }
  .box__container3 {
      width: 20%;
   
  }
  .header__container3 p {
      width: 30%;
  }
  
}

/* ----------------------------------------------------------- */
footer{
  height: 50vh;
}
.container_footer{
	max-width: 1170px;
	margin:auto;
}
.row_footer{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--dark);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: var(--primary);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e9dc1e;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: var(--primary);
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #e9dc1e;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/* ---------------------------- */



